node_modules
# testing
coverage

# production
build/
dist/

# ide
.vscode/
.claude/
.idea/

# misc
.DS_Store
.env
.env*.local
*-debug.log*

# Serverless directories
.serverless
.cdk.staging
cdk.out

# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfvars

*.private.md

terraform-react
terraform-react.pub
